body {
    background: repeat url("hexellence.png");
}

header.navbar {
    background: white;
    border-bottom: 0.05rem solid #dadee4;
}

figure {
    display: table;
}

figure figcaption {
    display: table-caption;
    caption-side: bottom;
}

.hero.announce {
    padding-top: 2rem;
    padding-bottom: 2rem;

    content: "";
    background-image: url('/balls.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero.announce .hero-body {
    margin: 0 1.5rem;
    padding: 2rem;
    content: "";
    background-image: url('/balls_bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.table th {
    background: white;
}

.table.table-striped tbody tr:nth-of-type(even) {
    background: white;
}

.content-block {
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
}

.social-icon {
    width: 1.5rem;
    max-width: 45px;
}